<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="dist/img/favicon.ico">

    <title>BitTracker</title>

    <!-- Bootstrap -->
    <link href="dist/js/bootstrap.min.css" rel="stylesheet">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BitTrade</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/order">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registrer">Registrer</a>
            </li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <span class="text-success">USD: <span th:text="${user.usd}"></span></span>
            <span class="text-danger"> Bitcoin: <span th:text="${user.bitcoins}"></span>  </span>
            <a th:href="@{/logout}" type="button" class="btn btn-danger form-inline my-2 my-lg-0">Logout</a>
        </div>
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/login}" type="button" class="btn btn-success">Login</a>
        </div>
            </div>
</nav>
<!--<form action="#" th:action="@{/trade/place/buyorder}" th:object="${buyorder}" method="post">--->
<!---<form action="#" th:action="@{/trade/place/sellorder}" th:object="${sellorder}" method="post">---->
<div class="container-fluid">
<div class="row" >
    <div class="col-md-1"></div>
    <div class="col-md-5" style="margin: 2em">
        <div class="jumbotron " id="buy" >
            <h4>Active Buy Orders:</h4>
            <table id="buybook" class="table table-hover">
                <thead>
                <tr>
                    <th>Price(USD)</th>
                    <th>Amount(Bitcoins)</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-active" th:each="buyorder : ${buyorders}">
                    <td th:text="${buyorder?.price}">1</td>
                    <td th:text="${buyorder?.amountLeft}">Doe</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="jumbotron" id="sell">
            <h4>Active Sell Orders:</h4>
            <table id="sellbook" class="table table-hover">
                <thead>
                <tr>
                    <th>Price(USD</th>
                    <th>Amount(Bitcoins)</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-active" th:each="sellorder : ${sellorders}">
                    <td th:text="${sellorder?.price}">1</td>
                    <td th:text="${sellorder?.amountLeft}">Doe</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-5" style="margin-top: 2em">
        <div class="jumbotron">
                <h4>Public Transaction Log:</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Buy/Sell</th>
                        <th scope="col">Bitcoin Price</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date of Transaction</th>
                        <th scope="col">User</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transaction : ${transactions}" >
                        <td th:text="${transaction?.buyOrSell}">Column content</td>
                        <td th:text="${transaction?.price}"></td>
                        <td th:text="${transaction?.amount}"></td>
                        <td th:text="${transaction?.transactionTime}"></td>
                        <td th:text="${transaction?.user.username}"></td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="fixed-bottom"><!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/teritry/tradingexchangespringboot" data-show-count="true" aria-label="Star teritry/tradingexchangespringboot on GitHub">Star</a></div>
</div>
</div>
<script src="dist/js/jquery.min.js"></script>
</body>
</html>
