<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="dist/img/favicon.ico">

    <title>BitTracker</title>

    <!-- Bootstrap -->
    <link href="dist/js/bootstrap.min.css" rel="stylesheet">


</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BitTrade</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/order">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registrer">Registrer</a>
            </li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <span class="text-success">USD: <span th:text="${user.usd}"></span></span>
            <span class="text-danger"> Bitcoin: <span th:text="${user.bitcoins}"></span>  </span>
            <a th:href="@{/logout}" type="button" class="btn btn-danger form-inline my-2 my-lg-0">Logout</a>
        </div>
        <div sec:authorize="isAnonymous()">
            <button th:href="@{/login}" type="button" class="btn btn-success">Login</button>
        </div>
    </div>
</nav>
<!--<form action="#" th:action="@{/trade/place/buyorder}" th:object="${buyorder}" method="post">--->
<!---<form action="#" th:action="@{/trade/place/sellorder}" th:object="${sellorder}" method="post">---->

<div class="row justify-content-md-center" style="margin-top: 1em">
    <div class="col-md-1"></div>
    <div class="jumbotron col-md-5">
        <form th:action="@{/login}" method="post">
            <h1>Please Sign In</h1>
            <input style="margin: 1em" type="text" class="form-control" name="username" id="username" placeholder="UserName" required="true" autofocus="true"/>
            <input style="margin: 1em" type="password" class="form-control" name="password" id="password" placeholder="Password" required="true"/>
            <input style="margin: 1em" type="submit" class="btn btn-primary" value="Sign In"/>

        </form>

    </div>
    <script src="dist/js/jquery.min.js"></script>
</body>
</html>