<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="dist/img/favicon.ico">

    <title>BitTracker</title>

    <!-- Bootstrap -->
    <link href="dist/js/bootstrap.min.css" rel="stylesheet">


</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BitTrade</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/order">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registrer">Registrer</a>
            </li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <span class="text-success">USD: <span th:text="${user.usd}"></span></span>
            <span class="text-danger"> Bitcoin: <span th:text="${user.bitcoins}"></span>  </span>
            <button th:href="@{/logout}" type="button" class="btn btn-danger form-inline my-2 my-lg-0">Logout</button>
        </div>
        <div sec:authorize="isAnonymous()">
            <button th:href="@{/login}" type="button" class="btn btn-success">Success</button>
        </div>
    </div>
</nav>
<!--<form action="#" th:action="@{/trade/place/buyorder}" th:object="${buyorder}" method="post">--->
<!---<form action="#" th:action="@{/trade/place/sellorder}" th:object="${sellorder}" method="post">---->

<div class="row" style="margin-top: 1em">
    <div class="col-md-1"></div>
    <div class="jumbotron col-md-5">
        <h4>Trade:</h4>
        <div class="row">
            <div class="card border-primary col-mb-7" style="margin: 1em">
                <div class="card-header"><h5>Buy Bitcoin</h5></div>
                <div class="card-body">
                    <form action="#" th:action="@{/trade/place/buyorder}" th:object="${buyorder}" method="post">
                        <label class="col-form-label" for="amountBuyOrder">Amount: </label>
                        <input type="number" class="form-control" placeholder="Bitcoins" th:field="*{amountLeft}"
                               id="amountBuyOrder">
                        <label class="col-form-label" for="priceBuyOrder">Price: </label>
                        <input type="number" class="form-control" placeholder="Price/bitcoin" th:field="*{price}"
                               id="priceBuyOrder">
                        <button type="submit" class="btn btn-primary" style="margin-top: 1em">Place Buy Order</button>
                    </form>
                </div>
            </div>

            <div class="card border-primary col-mb-7" style="margin: 1em">
                <div class="card-header"><h5>Sell Bitcoin</h5></div>
                <div class="card-body">
                    <form action="#" th:action="@{/trade/place/sellorder}" th:object="${sellorder}" method="post">
                        <label class="col-form-label" for="amountSellOrder">Amount of Bitcoin: </label>
                        <input type="number" class="form-control" placeholder="Bitcoins" th:field="*{amountLeft}"
                               id="amountSellOrder">
                        <label class="col-form-label" for="priceSellOrder">Price(USD): </label>
                        <input type="number" class="form-control" placeholder="Price in USD" th:field="*{price}"
                               id="priceSellOrder">
                        <button type="submit" class="btn btn-primary" style="margin-top: 1em">Place Sell Order</button>
                    </form>
                </div>
            </div>
        </div>
        <div style="margin-top: 2em">
            <h4>User Transactions:</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Buy/Sell</th>
                    <th scope="col">Bitcoin Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date of Transaction</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transactionfromuser : ${transactionsfromuser}" class="table-active">
                    <td th:text="${transactionfromuser?.buyOrSell}">Column content</td>
                    <td th:text="${transactionfromuser?.price}"></td>
                    <td th:text="${transactionfromuser?.amount}"></td>
                    <td th:text="${transactionfromuser?.transactionTime}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="jumbotron">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Reminding Amount</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Buying Price</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="buyorderfromuser : ${buyordersfromuser}" class="table-active">
                    <td th:text="${buyorderfromuser?.amountLeft}">Column content</td>
                    <td th:text="${buyorderfromuser?.totalAmount}"></td>
                    <td th:text="${buyorderfromuser?.price}"></td>
                    <td th:text="${buyorderfromuser?.date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="jumbotron">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Reminding Amount</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Buying Price</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sellorderfromuser : ${sellordersfromuser}" class="table-active">
                    <td th:text="${sellorderfromuser?.amountLeft}">Column content</td>
                    <td th:text="${sellorderfromuser?.totalAmount}"></td>
                    <td th:text="${sellorderfromuser?.price}"></td>
                    <td th:text="${sellorderfromuser?.date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="dist/js/jquery.min.js"></script>
</body>
</html>
